
/* -------------
    Header
----------------- */

.header{
    display: flex;
    justify-content: space-between;
    
    width: 1100px;
    height: 80px;
    margin: 0 auto;

}
.my-content-2{
    display: flex;
    gap: 40px;
}

/* section 1 */

main{
    background-color: rgb(167, 163, 159);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.section1{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background-color: aliceblue;
}
.first{
    width: 620px;
    height: 3;
    margin-left: 105px;
}
.section1-head{
    font-size: 35px;
    font-weight: 900px;
    color: blue;
}
.sec1-para{
    font-size: 20px;
}
.btn{
    background-color: yellow;
    font-size: 15px;
    padding: 15px 30px;
}
.second{
    width: 475px;
    height: 475px;
    margin-right: 170px;
    background-image: url("./images/Circle\ design.svg");
}
.second img{
    width: 440px;
    height: 410px;
}


/* section2 */



.photo img{
    width: 111px;
    height: 25px;
}
.section2{
    
  
    background-color: orange;
    margin-top: 0 auto;
    width: 1110px;
    height: 110px;
}
.photo{
    width: 100%;
    display: flex;
    
    align-items: center;
    padding-top: 45px;
    
}
.my-content{
    padding: 50px;
}




/* /section3 */

.section3{
   
}
.my-item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.item-number{
    width: 330px;
    height: 480px;
    background-color: beige;
}
.item-number img{
    width: 300px;
    height: 256px;
}
.stt{
    background-clor: beige;
}
.stt img{
    width: 16px;
    height: 16px;
}
.new-tab{
    font-size: 45px;
    font-weight: 1200;
}

.last-sec3{
    padding-top: 50px;
    color: lightcoral;
    text-align: right;
}

/*---------------------
     footer
----------------------- */

.footer{

}
.footer-1st{
    idth: 1500px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
}
.footer-sec{
    height: 250px;
    width: 100%;
    background-color: lightslategrey;
    text-align: center;
    padding-top: 50px;
}
.my-foot img{
     width: 350px;
     height: 260px;
}

.my-content{
    width: 400px;
    height: 250px;
}
/*------------------------
       media quuery
----------------------------- */
@media only screen and (max-width:576px) {
                  
    .section1{

    }

    .section1 {
        

        display:grid ;
       
        grid-template-columns:repeat(1,1fr)  ;
        
    }
    .first{
        margin-left: 0px;
        display: grid;
        text-align: center;
        grid-template-columns: repeat(1,1fr);
        
    }4t5
    .section2{
        display: none;
        justify-content: center;
        grid-template-columns: repeat(2,1fr);
    }

    .my-item{
        display: grid;
        text-align: center;
        grid-template-columns: repeat(1,1fr);
    }
    .footer-1st{
        display: grid;
       text-align: center;
        grid-template-columns: repeat(-1,1fr);
    }
}

@media only screen and (min-width:577px) and (max-width: 992px) {
    .section2{
        display: n;
        justify-content: center;
        grid-template-columns: repeat(2,1fr);
    }
    .my-item{
        display: grid;
        text-align: center;
        grid-template-rows: repeat(2,1fr);
    }
    .footer-1st{
        display: grid;
       text-align: center;
        grid-template-columns: repeat(1,1fr);
    }
}