


/* section 1 */

main{
    background-color: rgb(167, 163, 159);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section1{
    width: 100%;
    display: flex;
    background-color: aliceblue;
}
.first{
    width: 620px;
    height: 3;
    margin-left: 105px;
}
.section1-head{
    font-size: 35px;
    font-weight: 900px;
    color: blue;
}
.sec1-para{
    font-size: 20px;
}
.btn{
    background-color: yellow;
    font-size: 15px;
    padding: 15px 30px;
}
.second{
    width: 475px;
    height: 475px;
    margin-right: 170px;
    background-image: url("./images/Circle\ design.svg");
}
.second img{
    width: 440px;
    height: 410px;
}


/* section2 */



.photo img{
    width: 111px;
    height: 25px;
}
.section2{
    
  
    background-color: orange;
    margin-top: 30px;
    width: 1110px;
    height: 110px;
}
.photo{
    width: 100%;
    display: flex;
    
    align-items: center;
    padding-top: 45px;
    
}
.my-content{
    padding: 50px;
}




/* /section3 */

.section3{
   
}
.my-item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.item-number{
    width: 330px;
    height: 480px;
}
.item-number img{
    width: 300px;
    height: 256px;
}
.stt img{
    width: 16px;
    height: 16px;
}
.new-tab{
    font-size: 45px;
    font-weight: 1200;
}

.last-sec3{
    padding-top: 50px;
    color: lightcoral;
    text-align: right;
}

/*---------------------
     footer
----------------------- */

.footer{

}
.footer-1st{
    idth: 1500px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
}
.footer-sec{
    height: 250px;
    width: 100%;
    background-color: lightslategrey;
    text-align: center;
    padding-top: 50px;
}
.my-foot img{
     width: 350px;
     height: 260px;
}

.my-content{
    width: 400px;
    height: 250px;
}
/*------------------------
       media quuery
----------------------------- */

